.searchWrapper {
  position: relative;
  .searchBox {
    background: var(--bg-secondary);
    height: 32px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 0 #{24+4+4}px 0 #{22+4+4}px;
    width: 100%;
    box-shadow: 0 0 0 1px var(--outline-inactive);
    transition: all 250ms;

    &:hover {
      transition: background 0.1s;
      background: var(--bg-secondary-hover);
    }

    &:focus {
      transition: all 0.1s;
      background: var(--bg-secondary-active);
      box-shadow: 0 0 0 1px var(--outline);
    }
  }

  .prependIcon {
    position: absolute;
    left: 4px;
    top: 4px;
  }

  .clearButton {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 4px;
    top: 4px;
    background: none;
    border: none;
    border-radius: 4px;
    display: grid;
    place-items: center;
    padding: 0;
    transition: all 250ms;
    color: var(--red);

    &:hover {
      transition: all 0.1s;
      background: var(--red);
      color: white;
    }

    &:active {
      background: var(--red-active);
    }
  }
}
