.favoriteButtonWrapper {
  position: relative;
  user-select: none;

  & .favoriteButton,
  & .hint {
    background: var(--tooltip-background-semi-transparent);
    color: var(--text-complement);
    padding: 4px;
    border: none;
    border-radius: 4px;
  }

  .favoriteButton {
    display: flex;
    transition: all 0.1s;

    &:active {
      background: var(--tooltip-background-semi-transparent-active);
      color: var(--red-active);
    }
  }

  .favorites {
    color: var(--red);
  }

  .hint {
    font-size: 0.7em;
    font-weight: 500;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 4px;
    opacity: 0;
    transition: opacity 0.25s;
    pointer-events: none;
  }

  &:hover {
    .hint {
      transition: opacity 0.1s;
      opacity: 1;
    }
  }
}
