@use '@/assets/styles/common';

.favoriteButtonWrapper {
  @include common.tooltip(
    '.hint',
    var(--tooltip-background-semi-transparent),
    0.7em
  );
  position: relative;
  user-select: none;

  .favoriteButton {
    @include common.icon-button(28px);
    background: var(--tooltip-background-semi-transparent);
    color: var(--text-complement);
    transition: all common.$transition-timing-in;

    &:active {
      background: var(--tooltip-background-semi-transparent-active);
      color: var(--red-active);
    }

    &.favorites {
      color: var(--red);
    }

    &.pending {
      color: var(--blue);

      .icon {
        animation: spin 2.5s linear infinite;
      }
    }
  }

  .hint {
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 4px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
