@use '@/assets/styles/common';

.categorySelect {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;

  .category {
    @include common.button;

    background: var(--tooltip-pill);

    .name {
      color: #212121;
      margin-left: 4px;
    }

    &:hover,
    &.categoryActive {
      background: currentColor;
      .icon {
        color: white;
      }
      .name {
        color: white;
      }
    }
  }
}
