@use '@/assets/styles/common';

.imgCover {
  display: flex;
  overflow: hidden;

  & > img {
    transition: filter common.$transition-timing-in ease-out;
    &.loading {
      filter: blur(10px);
    }
  }
}
