.backToTopButton {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 16px;
  z-index: 1000;
  background: var(--bg);
  color: var(--text);
  font-size: 0.9rem;
  font-weight: 600;
  user-select: none;
  border-radius: 4px;
  padding: 4px 8px;
  align-items: center;
  transition: all 250ms;
  white-space: nowrap;
  box-shadow: 0 13px 28px -3px rgba(0, 0, 0, 0.75);
  border: 0;
  opacity: 0;
  display: flex;
  pointer-events: none;

  .name {
    margin-left: 4px;
  }

  &:hover {
    transition: background 0.1s;
    background: var(--bg-secondary);
  }

  &:active {
    background: var(--bg-secondary-active);
  }

  &.show {
    opacity: 1;
    pointer-events: unset;
  }
}
