@use '@/assets/styles/common';

.backToTopButton {
  @include common.button;
  @include common.transition-default(opacity, background);

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 16px;
  z-index: 1000;
  background: var(--bg);
  color: var(--text);
  box-shadow: 0 13px 28px -3px rgba(0, 0, 0, 0.75);
  opacity: 0;
  pointer-events: none;

  .name {
    margin-left: 4px;
  }

  &:hover {
    background: var(--bg-secondary);
  }

  &:active {
    background: var(--bg-secondary-active);
  }

  &.show {
    opacity: 1;
    pointer-events: unset;
  }
}
